<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SERVIR GEOPORTAL TRAINING MAP</title>
    <link rel="stylesheet" href="/static/home/style.css" />
    <!-- BOOTSTRAP STYLE CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- BOOTSTRAP ICONS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- LEAFLET.JS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""
    />

    <style>
        #map {
            height:100%;
        }
    </style>
  </head>

  <body>
    <header>
      <h2>SERVIR GEOPORTAL TRAINING MAP</h2>
    </header>

    <div id="main-container">
      <!-- Left side Navigation -->
      <!-- Details -->
      <div id="side-nav">
        <div id="request-form" class="side-nav-button">
          <div class="side-nav-icons">
            <i class="fa-solid fa-circle-info"></i>
          </div>
          <!-- Button trigger modal -->
          <p>Request Form</p>
        </div>

        <div id="query" class="side-nav-button">
          <div class="side-nav-icons">
            <i class="fa-solid fa-circle-info"></i>
          </div>
          <p>Query</p>
        </div>
      </div>

      <!-- Main context area -->
      <div id="main">
        <!-- Map -->
         <div id="map"></div>

        <!-- Query Toolbox -->
        <div class="query-box">
          <h3 class="title">Query Toolbox</h3>
          <div>Query Toolbox</div>
        </div>

        <!-- Query Output Container -->
        <div class="container container-box" id="query-output">
          <h1>To house your query output</h1>
        </div>

        <!-- Data request form -->
        <div class="container container-box" id="data_request_form">
          <form>
            <div class="row mt-2">
              <div class="mb-4 col-6">
                <label for="name" class="form-label"
                  >Name / Organization
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="name"
                />
              </div>
              <div class="mb-4 col-6">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="servir@mail.com"
                />
              </div>
              <div class="mb-4 col-12">
                <label for="subject" class="form-label">Subject</label>
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  name="subject"
                  placeholder="Data Request"
                />
              </div>
              <div class="col-12">
                <label for="comments" class="form-label">Comments</label>
                <textarea
                  class="form-control"
                  name="comments"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 100px"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP SCRIPTS CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <script>
      $("#request-form").click(function () {
        $("#data_request_form").css("display", "block");
        $("#query-output").css("display", "none");
        $(".query-box").css("display", "none");
      });

      $("#query").click(function () {
        $("#data_request_form").css("display", "none");
        $(".query-box").css("display", "block");
        $("#query-output").css("display", "block");
      });
    </script>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    </script>
  </body>
</html>